
/* Table styling for workscited*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

thead {
    background-color: orange;
    color: white;
}

th, td

	{padding: 15px;
    text-align: left;
    border-bottom: 1px solid grey;}


th {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: FloralWhite ;
}

a {
    color: dodgerblue;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: red;
}





/* General styling for the body and main layout */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(salmon, orange, salmon);
}

/* Header styling with gradient background and white text */
header {
    background: linear-gradient(to right, blue, salmon);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 8px salmon;
}

header h2 {
    margin: 0;
    font-size: 45px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0; /* Ensure no padding on the ul element */
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: yellow;
}

/* Main content styling */
main {
    padding: 50px;
}

/* Section styling for each content block */
section {
    margin-bottom: 30px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 15px yellow;
    transition: transform 0.5s, box-shadow 1s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px lime;
}

/* Header styling for sections */
section h2 {
    color: dodgerblue;
    font-size: 21px;
    margin-top: 0;
    padding-bottom: 10px;
}

/* Paragraph styling */
section p {
    font-size: 18px;
    line-height: 2;
    color: black;
}

/* Styling for lists */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Image styling with slide-in animation */
img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    opacity: 0;
    transform: translateX (-100%);
    animation: slideIn 2s forwards;
}

/* Slide-in animation keyframes */
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Styling for the video links section */

.video-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.video-link img {
    width: 250px; /* Adjust width as needed */
    height: auto;
    border: 3px solid green;
    border-radius: 10px;
    transition: transform 0.5s, box-shadow 1s;
}

.video-link img:hover {
    box-shadow: 0 10px 15px magenta;
}

